@model dynamic

@{
    ViewData["Title"] = "EditInventory";
}

<h1>EditInventory</h1>

<h4>Inventory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditInventory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">@Model.Name</label>
            </div>
            <div class="form-group">
                <label class="control-label">@Model.Price</label>
            </div>
            <div class="form-group">
                <label name="Quantity" class="control-label"></label>
                <input value="@Model.Quantity" type="number" min="1" name="Quantity" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="StoreDetails" asp-route-id="@Model.ID">Back to List</a>
</div>

