
@{
    ViewData["Title"] = "Index";
}

<h1>Admin Home</h1>

<h5>
    <div>
        @Html.ActionLink("Administrate Customers", "CustomerIndex", 3)
    </div>
    <div>
        @Html.ActionLink("Administrate Store", "StoreIndex", 1)
    </div>
    <div>
        @Html.ActionLink("Administrate Products", "ProductIndex", 2)
    </div>
</h5>