
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    @Html.ActionLink("Administrate Stores", "StoreIndex", 1)
</div>
<div>
    @Html.ActionLink("Administrate Products", "ProductIndex", 2)
</div>
<div>
    @Html.ActionLink("Administrate Customers", "CustomerIndex", 3)
</div>

