@model dynamic

@{
    ViewData["Title"] = "StoreDetails";
}

<h1>Admin: Store Inventory</h1>

<p>
    <a asp-action="StoreInventoryCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Product
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{int i = 0;}
        @foreach (var item in Model.Store.storeInventory)
        {
            <tr>
                <td>
                    @Model.Products[i].Name
                </td>
                <td>
                    @Model.Products[i++].Price
                </td>
                <td>
                    @item.Quantity
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditInventory", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="StoreIndex">Back to List</a>
</div>