@model dynamic

@{
    ViewData["Title"] = "StoreOrders";
}

<h1>Admin: Orders Placed At Store</h1>

<form asp-action="SortStoreOrders">
    <input type="submit" value="Sort Orders" /><br />

    <input type="radio" id="ASC" name="direction" value=0 />
    <label for="ASC">Ascending</label> | <label for="DES">Descending</label>
    <input type="radio" id="DES" name="direction" value=1 /><br />

    <input type="radio" id="TTL" name="sort" value=0 />
    <label for="TTL">Total</label> | <label for="DTE">Date</label>
    <input type="radio" id="DTE" name="sort" value=2 />
</form>

<div>
    <h4>Orders</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Order
                </th>
                <th>
                    Total
                </th>
                <th>
                    Customer
                </th>
                <th>
                    Date
                </th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Orders.Count; i++)
            {
                <tr>
                    <td>
                        @Html.ActionLink($"Order {i}", "OrderDetails", new { id = Model.Orders[i].Id })
                    </td>
                    <td>
                        @Model.Orders[i].Total
                    </td>
                    <td>
                        @Model.Customer[i].Username
                    </td>
                    <td>
                        @Model.Orders[i].Date
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
