@model dynamic

@{
    ViewData["Title"] = "StoreInventory";
}

<h1>StoreInventory</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="CreateOrder">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Product
                </th>
                <th>
                    Price
                </th>
                <th>
                    Quantity
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Store.storeInventory)
            {
                <tr>
                    <td>
                        @Model.Products[item.ProductId].Name
                    </td>
                    <td>
                        @Model.Products[item.ProductId].Price
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                    <td>
                        <input type="number" min="0" max="@item.Quantity" id="Quantity" name="Quantity" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit">Send your order</button>
</form>