@model IEnumerable<Models.Weight>

@{
    ViewData["Title"] = "StrengthCard";
}

<h1>StrengthCard</h1>

<form asp-action="Workout">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Exercise.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Exercise.Name)
                    </td>
                    <td>
                        <input type ="number" name="amount" />
                    </td>
                </tr>
            }
            <tr>
                <td colspan="2"><input type="submit" value="Submit Form" /></td>
            </tr>
        </tbody>
    </table>
</form>
